
.body {
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

main {
    height: 100vh;
}

[class*="col-"]{
    text-align: center;
    padding: 1rem .2rem;
    border: 2px solid white;
    background-color: rgb(158, 209, 77);
    color: white;
}

div .col-6 .pink{
    background-color: pink;
    border: 2px solid rgb(158, 209, 77);
}

.ex-2 {
    margin: 3rem 0;
}

.ex-2 h2 {
    text-align: center;
}

.ex-3-offset h2 {
    text-align: end;
}


